<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Modifica Offerta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="height: 100vh;">
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1 text-center">Modifica Offerta</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <form
                    id="special-offer-form"
                    method="POST"
                    th:action="@{/special-offers/{method}{id}(method=${specialOffer.id} ? 'edit/' : 'create', id=${specialOffer.id} ? ${specialOffer.id} : '')}"
                    th:object="${specialOffer}"
            >
                <input th:field="*{pizza}" type="hidden">

                <label for="special-offer-name">Nome</label>
                <input class="form-control"
                       id="special-offer-name" required
                       th:errorClass="is-invalid"
                       th:field="*{title}"
                       type="text"
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                    </ul>
                </div>

                <label for="special-offer-start-date">Inizio</label>
                <input class="form-control"
                       id="special-offer-start-date" required
                       th:errorClass="is-invalid"
                       th:field="*{startDate}"
                       type="date"
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                    </ul>
                </div>

                <label for="special-offer-end-date">Fine</label>
                <input class="form-control"
                       id="special-offer-end-date" required
                       th:errorClass="is-invalid"
                       th:field="*{endDate}"
                       type="date"
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
                    </ul>
                </div>

                <button class="btn btn-primary" type="submit">Aggiungi</button>
                <a class="btn btn-danger" th:href="@{/{id}(id=${specialOffer.getPizza().id})}">Indietro</a>

            </form>

        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>